@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #FAFAFA;
    color: #333;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: transparent;
}

th, td {
    padding: 10px;
    text-align: left;
    color: #666;
}

th {
    background-color: #252525;
    color: #FFF225;
    font-family: 'Poppins', sans-serif;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        display: none;
    }
    tr {
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }
    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        white-space: nowrap;
        text-align: left;
        font-weight: bolder;
        color: #333;
    }
}

.heading {
    text-align: center;
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #202020;
    font-family: 'Poppins', sans-serif;
}


/* menu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

header img{
    width: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a{
font-size: 20px;
padding: 20px;
color: #333;
display: block;
}

header .navbar ul li a:hover{
    background-color: #333;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li:hover > ul{
 display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    display: none;
}

i{
    font-size: 20px;
    text-align: center;
}

@media(max-width:991px){
    header {
        padding: 10px;
    }

    header label{
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }
    
    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    #menu-bar:checked ~ .navbar{
       display: initial;
    }
}

i{
    font-size: 35px;
}

.social {
    display: inline-block;
    font-size: 2px;
    padding: 8px;
    margin-top: 8px;
    margin-left: 10px;
}
